/* .task-block{
    background-color: #6e8fca54;
    width: 20%;
    margin: 20px 10px;
    padding: 10px 10px 20px;
    
  } */

.oneLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkboxTask input:hover{
    cursor: pointer;
  }

.bold{
  font-weight: bold;
}

.distance{
 margin: 1px;
}

.truncateText{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btnSize{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}