/* .task-block{
    background-color: #6e8fca54;
    width: 20%;
    margin: 20px 10px;
    padding: 10px 10px 20px;
    
  } */

.oneLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkboxTask input:hover{
    cursor: pointer;
  }