body {
  background-color: #c8d0c9ad;
}

main {
  max-width: 1440px;
  margin: 0 auto; 
  
}

@media (max-width: 768px){
  .modal{
    width: 70%;
    margin-left: 15%;
  }

  .sizeFilter{
    width: 70%;
  }
  .btnOnlyIcon{
    display: block;
  }

  .btnAddAndIcon{
    display: none;
  }
}