.errorPageView{
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #777;
    box-sizing: border-box;
    box-shadow: inset 0 0 300px #eee;
}

.errorPageView svg{
    height: 60px;
}

.errorPageView a{
    color: #444;
}